<plugin name='mogobiz-core' version='0.4.1-SNAPSHOT' grailsVersion='2.3 &gt; *'>
  <author>Your name</author>
  <title>Mogobiz Core Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/mogobiz-core</documentation>
  <type>MogobizCoreGrailsPlugin</type>
  <resources>
    <resource>com.mogobiz.auth.AuthController</resource>
    <resource>com.mogobiz.auth.ExternalAuthController</resource>
    <resource>com.mogobiz.auth.OAuthController</resource>
    <resource>com.mogobiz.auth.ProfileController</resource>
    <resource>com.mogobiz.auth.ResController</resource>
    <resource>com.mogobiz.facebook.FBCreditController</resource>
    <resource>com.mogobiz.geolocation.CountryController</resource>
    <resource>com.mogobiz.geolocation.partner.PoiController</resource>
    <resource>com.mogobiz.geolocation.partner.PoiTypeController</resource>
    <resource>com.mogobiz.store.PartnerController</resource>
    <resource>com.mogobiz.store.admin.AdminController</resource>
    <resource>com.mogobiz.store.admin.CompanyController</resource>
    <resource>com.mogobiz.store.admin.CompanyPaymentPolicyController</resource>
    <resource>com.mogobiz.store.admin.CompanyShippingPolicyController</resource>
    <resource>com.mogobiz.store.admin.CompanyTaxPolicyController</resource>
    <resource>com.mogobiz.store.admin.KeyGenController</resource>
    <resource>com.mogobiz.store.admin.SellerController</resource>
    <resource>com.mogobiz.store.admin.SellerPasswordController</resource>
    <resource>com.mogobiz.store.admin.TaxRateController</resource>
    <resource>com.mogobiz.store.partner.BrandController</resource>
    <resource>com.mogobiz.store.partner.CatalogController</resource>
    <resource>com.mogobiz.store.partner.CategoryController</resource>
    <resource>com.mogobiz.store.partner.CouponController</resource>
    <resource>com.mogobiz.store.partner.DownloadableController</resource>
    <resource>com.mogobiz.store.partner.EsEnvController</resource>
    <resource>com.mogobiz.store.partner.FeatureController</resource>
    <resource>com.mogobiz.store.partner.GoogleCategoryController</resource>
    <resource>com.mogobiz.store.partner.GoogleEnvController</resource>
    <resource>com.mogobiz.store.partner.GoogleVariationController</resource>
    <resource>com.mogobiz.store.partner.GoogleVariationMappingsController</resource>
    <resource>com.mogobiz.store.partner.IbeaconController</resource>
    <resource>com.mogobiz.store.partner.ImpexController</resource>
    <resource>com.mogobiz.store.partner.IntraDayPeriodController</resource>
    <resource>com.mogobiz.store.partner.PartnerController</resource>
    <resource>com.mogobiz.store.partner.ProductController</resource>
    <resource>com.mogobiz.store.partner.ProductKoPeriodsController</resource>
    <resource>com.mogobiz.store.partner.ProductResourceController</resource>
    <resource>com.mogobiz.store.partner.ResourceController</resource>
    <resource>com.mogobiz.store.partner.SanitizedUrlController</resource>
    <resource>com.mogobiz.store.partner.ShippingPolicyController</resource>
    <resource>com.mogobiz.store.partner.ShippingRuleController</resource>
    <resource>com.mogobiz.store.partner.SocialController</resource>
    <resource>com.mogobiz.store.partner.SuggestionsController</resource>
    <resource>com.mogobiz.store.partner.TagController</resource>
    <resource>com.mogobiz.store.partner.TicketTypeController</resource>
    <resource>com.mogobiz.store.partner.TranslationController</resource>
    <resource>com.mogobiz.store.partner.UploadController</resource>
    <resource>com.mogobiz.store.partner.VariationController</resource>
    <resource>com.mogobiz.store.validator.ValidatorController</resource>
    <resource>com.mogobiz.geolocation.domain.Location</resource>
    <resource>com.mogobiz.geolocation.domain.Poi</resource>
    <resource>com.mogobiz.geolocation.domain.PoiType</resource>
    <resource>com.mogobiz.pay.domain.BOAccount</resource>
    <resource>com.mogobiz.pay.domain.BOTransaction</resource>
    <resource>com.mogobiz.pay.domain.BOTransactionLog</resource>
    <resource>com.mogobiz.pay.domain.PaymentData</resource>
    <resource>com.mogobiz.store.domain.Album</resource>
    <resource>com.mogobiz.store.domain.BOCart</resource>
    <resource>com.mogobiz.store.domain.BOCartItem</resource>
    <resource>com.mogobiz.store.domain.BODelivery</resource>
    <resource>com.mogobiz.store.domain.BOProduct</resource>
    <resource>com.mogobiz.store.domain.BOReturn</resource>
    <resource>com.mogobiz.store.domain.BOReturnedItem</resource>
    <resource>com.mogobiz.store.domain.BOTicketType</resource>
    <resource>com.mogobiz.store.domain.Brand</resource>
    <resource>com.mogobiz.store.domain.BrandProperty</resource>
    <resource>com.mogobiz.store.domain.Catalog</resource>
    <resource>com.mogobiz.store.domain.Category</resource>
    <resource>com.mogobiz.store.domain.Comment</resource>
    <resource>com.mogobiz.store.domain.Company</resource>
    <resource>com.mogobiz.store.domain.CompanyProperty</resource>
    <resource>com.mogobiz.store.domain.Consumption</resource>
    <resource>com.mogobiz.store.domain.Country</resource>
    <resource>com.mogobiz.store.domain.CountryAdmin</resource>
    <resource>com.mogobiz.store.domain.Coupon</resource>
    <resource>com.mogobiz.store.domain.CustomerProfile</resource>
    <resource>com.mogobiz.store.domain.DatePeriod</resource>
    <resource>com.mogobiz.store.domain.EsEnv</resource>
    <resource>com.mogobiz.store.domain.EventPeriodSale</resource>
    <resource>com.mogobiz.store.domain.ExternalAccount</resource>
    <resource>com.mogobiz.store.domain.ExternalAuthLogin</resource>
    <resource>com.mogobiz.store.domain.Feature</resource>
    <resource>com.mogobiz.store.domain.FeatureValue</resource>
    <resource>com.mogobiz.store.domain.GoogleCategory</resource>
    <resource>com.mogobiz.store.domain.GoogleContent</resource>
    <resource>com.mogobiz.store.domain.GoogleEnv</resource>
    <resource>com.mogobiz.store.domain.GoogleVariationMapping</resource>
    <resource>com.mogobiz.store.domain.GoogleVariationType</resource>
    <resource>com.mogobiz.store.domain.GoogleVariationValue</resource>
    <resource>com.mogobiz.store.domain.Ibeacon</resource>
    <resource>com.mogobiz.store.domain.IntraDayPeriod</resource>
    <resource>com.mogobiz.store.domain.LocalTaxRate</resource>
    <resource>com.mogobiz.store.domain.Notation</resource>
    <resource>com.mogobiz.store.domain.Permission</resource>
    <resource>com.mogobiz.store.domain.Price</resource>
    <resource>com.mogobiz.store.domain.Product</resource>
    <resource>com.mogobiz.store.domain.Product2Resource</resource>
    <resource>com.mogobiz.store.domain.ProductProperty</resource>
    <resource>com.mogobiz.store.domain.Profile</resource>
    <resource>com.mogobiz.store.domain.ProfilePermission</resource>
    <resource>com.mogobiz.store.domain.ReductionRule</resource>
    <resource>com.mogobiz.store.domain.Resource</resource>
    <resource>com.mogobiz.store.domain.Role</resource>
    <resource>com.mogobiz.store.domain.RolePermission</resource>
    <resource>com.mogobiz.store.domain.Seller</resource>
    <resource>com.mogobiz.store.domain.Shipping</resource>
    <resource>com.mogobiz.store.domain.ShippingCarriers</resource>
    <resource>com.mogobiz.store.domain.ShippingRule</resource>
    <resource>com.mogobiz.store.domain.Stock</resource>
    <resource>com.mogobiz.store.domain.StockCalendar</resource>
    <resource>com.mogobiz.store.domain.Suggestion</resource>
    <resource>com.mogobiz.store.domain.Tag</resource>
    <resource>com.mogobiz.store.domain.TaxRate</resource>
    <resource>com.mogobiz.store.domain.TicketType</resource>
    <resource>com.mogobiz.store.domain.Token</resource>
    <resource>com.mogobiz.store.domain.Translation</resource>
    <resource>com.mogobiz.store.domain.User</resource>
    <resource>com.mogobiz.store.domain.UserPermission</resource>
    <resource>com.mogobiz.store.domain.UserProperty</resource>
    <resource>com.mogobiz.store.domain.Variation</resource>
    <resource>com.mogobiz.store.domain.VariationValue</resource>
    <resource>com.mogobiz.store.domain.Warehouse</resource>
    <resource>com.mogobiz.store.domain.Wishlist</resource>
    <resource>com.mogobiz.auth.AuthRealm</resource>
    <resource>bootstrap.CommerceService</resource>
    <resource>bootstrap.CommonService</resource>
    <resource>bootstrap.PerfCommerceService</resource>
    <resource>com.mogobiz.ajax.AjaxResponseService</resource>
    <resource>com.mogobiz.authentication.AuthenticationService</resource>
    <resource>com.mogobiz.authentication.ProfileService</resource>
    <resource>com.mogobiz.geolocation.partner.PoiService</resource>
    <resource>com.mogobiz.service.BrandService</resource>
    <resource>com.mogobiz.service.CatalogService</resource>
    <resource>com.mogobiz.service.CategoryService</resource>
    <resource>com.mogobiz.service.CompanyService</resource>
    <resource>com.mogobiz.service.CountryImportService</resource>
    <resource>com.mogobiz.service.CountryService</resource>
    <resource>com.mogobiz.service.CouponService</resource>
    <resource>com.mogobiz.service.EmailConfirmationNotificationService</resource>
    <resource>com.mogobiz.service.ExportCsvService</resource>
    <resource>com.mogobiz.service.ExportService</resource>
    <resource>com.mogobiz.service.FeatureService</resource>
    <resource>com.mogobiz.service.IbeaconService</resource>
    <resource>com.mogobiz.service.ImportCsvService</resource>
    <resource>com.mogobiz.service.ImportService</resource>
    <resource>com.mogobiz.service.ProductService</resource>
    <resource>com.mogobiz.service.QueueSocialService</resource>
    <resource>com.mogobiz.service.ResService</resource>
    <resource>com.mogobiz.service.SaleService</resource>
    <resource>com.mogobiz.service.SanitizeUrlService</resource>
    <resource>com.mogobiz.service.SellerService</resource>
    <resource>com.mogobiz.service.ShippingRuleService</resource>
    <resource>com.mogobiz.service.TagService</resource>
    <resource>com.mogobiz.service.TaxRateService</resource>
    <resource>com.mogobiz.service.TranslationService</resource>
    <resource>com.mogobiz.store.StorePermissionTagLib</resource>
  </resources>
</plugin>