<plugin name='mogobiz-core' version='1.0-SNAPSHOT' grailsVersion='2.3 &gt; *'>
  <author>Your name</author>
  <title>Mogobiz Core Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/mogobiz-core</documentation>
  <type>MogobizCoreGrailsPlugin</type>
  <packaging>binary</packaging>
  <resources />
</plugin>